@mixin button {
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    padding: .3rem;

    &:hover {
        cursor: pointer;
    }
}

@mixin listItem {
    border-bottom: 1px solid #bfbebe;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}