.addTodo__form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .addTodo__input {
        position: relative;
        margin: 30px 0 10px;
        flex: 1;

        input {
            font-size: 1rem;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 90%;
            flex: 1;
            border: none;
            border-bottom: 1px solid #ccc;
        }

        input:focus {
            outline: none;
        }

        label {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
        }

        input:focus ~ label,
        input:valid ~ label {
            top: -20px;
            font-size: .7rem;
            color: $primary-color;
        }

        .bar {
            position: relative;
            display: block;
            max-width: 90%;
        }

        .bar:before,
        .bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: $primary-color;
            transition: 0.2s ease all;
        }

        .bar:before {
            left: 50%;
        }

        .bar:after {
            right: 50%;
        }

        input:focus ~ .bar:before,
        input:focus ~ .bar:after {
            width: 50%;
        }
    }

    .addTodo__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2rem;

        button {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: $primary-color;
            outline: none;
            border: none;
            font-size: 2.5rem;
            color: #fff;
        }
    }
}





