.card {
    width: 500px;
    margin: 2rem auto;
    padding: .7rem;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    &:hover {
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    }

    &__title {
        display: flex;
        border-bottom: 1px solid #ccc;
        color: #908f8f;
    }
}